@model MVC.Models.DTOs.ZombieDTO

@{
    ViewData["Title"] = "Crear Zombie";
    ViewData["ShowHeader"] = false;
}
@section Styles {
    <link rel="stylesheet" href="~/css/zombies.css" asp-append-version="true" />
}

<h2>Crear Zombie</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

    <div class="form-group">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Edad" class="control-label"></label>
        <input asp-for="Edad" class="form-control" />
        <span asp-validation-for="Edad" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NivelPeligro" class="control-label"></label>
        <input asp-for="NivelPeligro" class="form-control" />
        <span asp-validation-for="NivelPeligro" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Tipo" class="control-label"></label>
        <input asp-for="Tipo" class="form-control" />
        <span asp-validation-for="Tipo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Velocidad" class="control-label"></label>
        <input asp-for="Velocidad" class="form-control" />
        <span asp-validation-for="Velocidad" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}