@model MVC.Models.DTOs.ZombieDTO
@{
    ViewData["Title"] = "Eliminar Zombie";
}
<h2>¿Seguro que desea eliminar este zombie?</h2>
<div>
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>
        <dt class="col-sm-2">Tipo</dt>
        <dd class="col-sm-10">@Model.Tipo</dd>
    </dl>
    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>